body {
	/*font-family: Arial, Verdana, sans-serif;*/
	font-size: 30px;
	color: #EAD3B1;
	background-color: #CEA97C;
	padding : 0px;
	margin : 0px;
	border: 0px none;
}

.maintitle {
	font-size: 50px;
}

header {
	background-color: #3C1310;
}

.col-1of3{
	font-size: 20px;
}

footer {
}


nav a, nav a:visited {
	display: inline-block;
	background-color: #8A5D3B;
	color: #000000;
	padding: 0.75rem 3.6rem;
	font-size : 1.0em;
	text-decoration: none;
	width:100%;
}

nav a.active {
	background-color: #CEA97C;
}

nav a:hover {
	color: #FFFFFF;
}


h1 {
	font-family: "Gloucester MT Extra Condensed";
	padding : 0px;
	margin : 0px;
	color: #FFFFFF;
	text-align: center;
}

a {
	font-family: "Andale Mono";
	text-decoration: none;
	font-weight: lighter;
	color: #EAD3B1;
}

h2 {
	display: inline-block;
	font-family: "GeoSansLight";
	font-style: italic;
	color: #EAD3B1;
}

p{
	display: inline-block;
	font-family: "Hoefler Text";
	color: #EAD3B1;
	font-size: 0.8rem;
	margin : 0px;
}

nav {
}

input {
	font-family: "Andale Mono";
	color: #3C1310;
	background-color: #EAD3B1;
	/*background-color: #3C1310;*/
	/*padding: 0;*/
	border: none;
}

a:hover {
	color: #C7B499; 
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}


h1 a {
	font-family: "Trajan Pro";
	padding : 0px;
	color: #FFFFFF;
}

.purchaseimage {
	display: inline-block;
	padding: 3em, 2em;
	padding-top: auto;
	padding-bottom: auto;
	margin-top: 0.2em;
}

.purchasenumber {
	padding-top: 25px;
	vertical-align: top;
}

.purchasetext {
	display: inline-block;
	font-family: "GeoSansLight";
	color: #EAD3B1;
	margin : 0px;
	padding-top: 70px;
	vertical-align: top;
	font-size: 30px;
}

@media (max-width: 1045px) {
	.purchasetext {
		padding-top: 0px;
	}

}
.removetext {
	font-size: 20px;
	text-align:right;
}


.hoursbox1 {
	text-align:left;
	min-height: 50%;
	margin-bottom: 0.6rem;
	padding-top: 0;
	padding-bottom : 1em;
	padding-left: auto;
	padding-right: auto;
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.2);
}

.hoursbox1 span{
	display:block;
}


/* ---------------------------------------------------------- */
.col-about1of2 {
	padding-left: 3%;
}

#yourpurchase {
	width: 50%;
}

#checkoutform {
	min-width: 20%;
	margin-right: 1rem;
}


form {
	font-size: 0.7rem;
	color: #FFFFFF;
	text-transform: uppercase;
}

form label {
	display: block;
	margin-top: 1rem;
}

textarea {
	font-family: "Andale Mono";
	color: #3C1310;
	background-color: #EAD3B1;

}

.confirmbutton {
	font-size:100px;
	text-align: center;
}
