body {
	/*font-family: Arial, Verdana, sans-serif;*/
	font-size: 30px;
	color: #EAD3B1;
	background-color: #CEA97C;
	padding : 0px;
	margin : 0px;
	border: 0px none;
}
.maintitle {
	font-size: 50px;
}

header {
	background-color: #3C1310;
}
footer {
}


nav a, nav a:visited {
	display: inline-block;
	background-color: #8A5D3B;
	color: #000000;
	padding: 0.75rem 3.6rem;
	font-size : 1.0em;
	text-decoration: none;
	width:100%;
}

nav a.active {
	background-color: #CEA97C;
}

nav a:hover {
	color: #FFFFFF;
}


h1 {
	font-family: "Gloucester MT Extra Condensed";
	padding : 0px;
	margin : 0px;
	color: #FFFFFF;
	text-align: center;
}

a {
	font-family: "Andale Mono";
	text-decoration: none;
	font-weight: lighter;
	color: #EAD3B1;
}

h2 {
	font-size: 40px;
	font-family: "GeoSansLight";
	font-style: italic;
	font-weight: bold;
	color: #EAD3B1;
	color: rgba(255,255,255,1.0);
	text-align:left;
	padding : 0;
	margin : 0;
	margin-bottom: 3%;
}

h3{
	font-size: 20px;
	color: rgba(255,255,255,1.0);
	font-family: "GeoSansLight";
}

p{
	font-family: "Hoefler Text";
	color: #FFFFFF;
	font-size: 0.8rem;
	text-align:left;
}

nav {
}

input {
	font-family: "Andale Mono";
	color: #EAD3B1;
	background-color: #3C1310;
	/*padding: 0;*/
	border: none;
}

a:hover {
	color: #FFFFFF; 
	text-decoration: none;
}

a:visited {
	text_decoration: none;
}


h1 a {
	font-family: "Trajan Pro";
	padding : 0px;
	color: #FFFFFF;
}


.col-1of3 a{
	color: #000000;
}

.selectedproduct {
	/*text-align:left;*/
	min-height: 50%;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-top: 0;
	padding-bottom : 1em;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.2);
}

figcaption{
	font-size: 18px;
	text-align:left;
	color: rgba(0,0,0,0.6);
}

.col-1of3{
	font-size: 20px;
}

.clearer{
	clear:both;
}








