/* grid.css; defining grids for my site */

/* You can put anything, and it will apply style in the curly brackets */
[class*='col-'] {
	float: left;
	padding: 0px;
	text-align: center;
}

/* ---------------------------------------------------------- */
.col-1of4{
	display:inline-block;
	/*padding-left: 3%;
	padding-right: 3%;*/
	margin-top: 10px;
}

.col-1of5{
	width: 25%;
	padding-right: 3%;
}

/* ---------------------------------------------------------- */

.grid:after { /*after our class of grid, we want it to do certain things */
	content: "";
	display:block; /*inject block that clears the float*/
	clear: both;  /*clear the floats*/
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 750px) {
	.col-1of4 {
		width: 100%;
	}
	#detailproducts{
		width: 100%;
	}
	#news {
		clear:both;
		width:100%;
		margin-top: -40px;
	}
	#populararticles{
		width:100%;
		margin-top: -50px;
	}

}

.col-1of3{
	width:20%;
}

img{
	vertical-align:middle;
}



@media (max-width:650px) {
	.col-1of3{
		width:100%;
	}
	.mainbox{
		border :0px;
	}
}



header {
	padding : 0px;
	margin : 0px;
	border: 0px none;
	width: 100%;
}

.headertop{
	min-height: 13px;
	width: 100%;
	padding : 0px;
	margin : 0px;
	clear:both;
}
.headermid{
	width: 100%;
}
.headerbot{
	margin: auto;
	width: 97%;
}

.content {
	width: 97%;
	min-height: 50%;
	padding : 0px;
	margin : auto;
	clear:both;
}

footer {
	bottom:0;
	position:fixed;
	padding : 0px;
	margin : 0px;
	border: 0px none;
	width: 100%;
	min-height: 20px;
}
.footertopleft{
	background-color: #3C1310;
	min-height: 10px;
	width: 1.5%;
	padding : 0px;
	float: left;
}
.footertopright{
	background-color: #3C1310;
	min-height: 10px;
	width: 1.5%;
	padding : 0px;
	float:right;
}
.footerbot{
	background-color: #3C1310;
	clear:both;
	width:100%;
	min-height: 10px;
}


#selectedproduct{
	width:100%;

	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.2);
}

.selectedimages{
	float:left;
	text-align: center;
	width: 35%;
}

.selectedtext{
	float:right;
	width: 60%;
}

.productprice{
	float:right;
	vertical-align:top;
}
.productheading{
	float:left;
	vertical-align:top;
}
.productexplanation{
	float:left;
	vertical-align:top;
}

.ICANTNAMEITWITHJUSTONENUMBER{
	text-align:center;
	margin-left:auto;
	margin-right: auto;
	width: 50%;
}

.thumbnailleft{
	float:left;
	margin-left: auto;
	margin-top: 10px;
}
.thumbnailmid{
	margin: 10px auto;
}


.thumbnailright{
	float:right;
    top:0;
    margin-right: auto;
    margin-left:auto;
    margin-top: 10px;
}

.bigimage{
    max-width:200px;
    max-height:200px;
    width: 100%;
    height: auto;
}


