/* grid.css; defining grids for my site */

/* You can put anything, and it will apply style in the curly brackets */
[class*='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.grid:after { /*after our class of grid, we want it to do certain things */
	content: "";
	display:block; /*inject block that clears the float*/
	clear: both;  /*clear the floats*/
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1of3{
	width:20%;
}

@media (max-width:200px) {
	.col-1of3{
		width:100%;
	}
}

header {
	max-height: 50px;
	padding = 0;
	margin = 0;
}

.headertop{
	height: 50%;
	width: 100%;
}
.headermid{
	height: 10%;
	width: 100%;
}
.headerbot{
	height: 10%;
	width: 100%;
}