/* grid.css; defining grids for my site */

/* You can put anything, and it will apply style in the curly brackets */
[class*='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.grid:after { /*after our class of grid, we want it to do certain things */
	content: "";
	display:block; /*inject block that clears the float*/
	clear: both;  /*clear the floats*/
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1of3{
	width:20%;
}

@media (max-width:200px) {
	.col-1of3{
		width:100%;
	}
}

header {
	padding : 0px;
	margin : 0px;
	border: 0px none;
	position: fixed;
	width: 100%;
}

.headertop{
	height : 33px;
	width: 100%;
	padding : 0px;
	margin : 0px;
}
.headermid{
	height : 33px;
	width: 100%;
	vertical-align: bottom;
}
.headerbot{
	margin: auto;
	height : 33px;
	width: 95%;
}