body {
	/*font-family: Arial, Verdana, sans-serif;*/
	font-size: 30px;
	color: #EAD3B1;
	background-color: #CEA97C;
	padding : 0px;
	margin : 0px;
	border: 0px none;
}
.maintitle {
	font-size: 50px;
}

header {
	background-color: #3C1310;
}
footer {
}


nav a, nav a:visited {
	display: inline-block;
	background-color: #8A5D3B;
	color: #000000;
	padding: 0.75rem 3.6rem;
	font-size : 1.0em;
	text-decoration: none;
	width:100%;
}

nav a.active {
	background-color: #CEA97C;
}

nav a:hover {
	color: #FFFFFF;
}


h1 {
	font-family: "Gloucester MT Extra Condensed";
	padding : 0px;
	margin : 0px;
	color: #FFFFFF;
	text-align: center;
}

a {
	font-family: "Andale Mono";
	text-decoration: none;
	font-weight: lighter;
	color: #EAD3B1;
}

h2 {
	font-family: "GeoSansLight";
	font-style: italic;
	color: #EAD3B1;
	color: rgba(255,255,255,1.0);
	text-align:left;
	padding : 0;
	margin : 0;
}

p{
	font-family: "Hoefler Text";
	color: #FFFFFF;
	font-size: 0.8rem;
	text-align:left;
}

nav {
}

input {
	font-family: "Andale Mono";
	color: #EAD3B1;
	background-color: #3C1310;
	/*padding: 0;*/
	border: none;
}

a:hover {
	color: #C7B499; 
	text-decoration: none;
}

a:visited {
	text_decoration: none;
}


h1 a {
	font-family: "Trajan Pro";
	padding : 0px;
	color: #FFFFFF;
}


.col-1of3 a{
	color: #000000;
}

.mainbox {
	text-align:center;
	min-height: 50%;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-top: 0;
	padding-bottom : 1em;
	padding-left: auto;
	padding-right: auto;
	/*
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.2);
	*/
}
.forborders{
	/*border: 3px solid;*/
	margin-top: 2rem;
	border-color: rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
}
#news .mainbox{
	border: 3px;
	border-color: rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
	padding-top: 1rem;
}

.mainboximage {
	display: inline-block;
	padding: 3em, 2em;
	margin: 0.2em;
}

figcaption{
	font-size: 15px;
	text-align:center;
	color: rgba(0,0,0,0.6);
}

.col-1of3{
	font-size: 20px;
}

.newsimage1{
	float:left;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.newsimage1cap{
	margin-top:25px;
	font-family: "GeoSansLight";
	font-weight: bold;
	color: #FFFFFF;
	text-align:left;
}

.newspar{
	color: rgba(0,0,0,0.6);
}

.posting{
	text-align:right;
	color: rgba(255, 255, 255, 0.5)
}

.newsarticle{
	clear:both;
	width:100%;
}

.populararticle{
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.1);
}

.popularimage{
	margin: 0px;
    max-width:600px;
    max-height:320px;
    width: 100%;
    height: auto;
}

.popularimagecap{
	font-family: "GeoSansLight";
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1.0);
	margin: 10px;
}

.popularimagepar{
	width: 90%;
	margin: 3% auto;
	text-align: center;
	color: rgba(0,0,0,0.6);
}









