body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:18px;
  width:197px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:65px;
  width:300px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:15px;
  top:130px;
  width:139px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:30px;
  top:161px;
  width:76px;
  height:76px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:253px;
  width:76px;
  height:76px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u11 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:28px;
  top:343px;
  width:76px;
  height:76px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u13 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:28px;
  top:432px;
  width:76px;
  height:76px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u15 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:28px;
  top:525px;
  width:76px;
  height:76px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u17 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:124px;
  top:167px;
  width:147px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:124px;
  top:198px;
  width:56px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:124px;
  top:259px;
  width:79px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:124px;
  top:290px;
  width:56px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:124px;
  top:349px;
  width:80px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:124px;
  top:380px;
  width:56px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:124px;
  top:438px;
  width:65px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:124px;
  top:469px;
  width:56px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:124px;
  top:531px;
  width:49px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:124px;
  top:562px;
  width:56px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:28px;
  top:637px;
  width:88px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:72px;
  top:668px;
  width:160px;
  height:262px;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:262px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:15px;
  top:93px;
  width:269px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43 {
  position:absolute;
  left:0px;
  top:151px;
  width:300px;
  height:100px;
  opacity:0;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
  opacity:0.4;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
