body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:18px;
  width:197px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:65px;
  width:300px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:147px;
  top:229px;
  width:134px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:93px;
  width:152px;
  height:32px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:134px;
  top:143px;
  width:147px;
  height:21px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:134px;
  top:170px;
  width:114px;
  height:43px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:48px;
  top:135px;
  width:76px;
  height:76px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u15 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:157px;
  width:24px;
  height:32px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:275px;
  width:192px;
  height:32px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:48px;
  top:637px;
  width:204px;
  height:50px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:50px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:325px;
  width:261px;
  height:284px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:284px;
}
#u23 {
  position:absolute;
  left:2px;
  top:134px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
