body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:334px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:18px;
  width:197px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:65px;
  width:300px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:83px;
  top:128px;
  width:190px;
  height:190px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u7 {
  position:absolute;
  left:2px;
  top:87px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:21px;
  top:92px;
  width:163px;
  height:23px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:220px;
  top:93px;
  width:114px;
  height:43px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:21px;
  top:383px;
  width:264px;
  height:150px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:150px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:21px;
  top:128px;
  width:40px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:21px;
  top:178px;
  width:40px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:21px;
  top:228px;
  width:40px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:21px;
  top:278px;
  width:40px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:21px;
  top:328px;
  width:128px;
  height:38px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
  opacity:0.8;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:157px;
  top:328px;
  width:128px;
  height:38px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
