 @font-face { font-family: "GeoSansLight"; src: url('GeosansLight.ttf'); }

body {
	/*font-family: Arial, Verdana, sans-serif;*/
	font-size: 30px;
	padding : 0px;
	margin : 0px;
	border: 0px none;
}

header {
}

footer {
}

a {
	font-family: "GeoSansLight";
	text-decoration: none;
	font-weight: lighter;
	color: #000000;
	font-size: 20px;
}

nav a, nav a:visited {
	/*
	display: inline-block;
	background-color: #8A5D3B;
	color: #000000;
	text-decoration: none;
	*/
}

h1 {
	font-family: "GeoSansLight";
	font-weight: lighter;
	padding : 0px;
	margin : 0px;
	color: #FFFFFF;
	text-align: left;
	font-size: 40px;
	max-height: 50%;
}



.header1of3{
	background-color: #9F846D;
}

.header2of3{
	background-color: #9F846D;
}

.header3of3{
	background-color: #9F846D;
}

.headercontent{
	/*background-color: #999999;*/
}

.headertab{
	background-color: #EEE3D4;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 1px;
}

.lastborder{
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.footer1of2{
	background-color: #9F846D;
}

.footer2of2{
	background-color: #9F846D;
}

.contentborder{
	background-color: #EEE3D4;
}

.contentbox{
	background-color: #EEE3D4;
}
.bgcolor{
	background-color: #EEE3D4;
}


/*  CONTENTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT STYYYYLESSSS */

.headerbox {
	max-width: 80%;
}

.headerbox p{
	font-family: "GeoSansLight";
	text-decoration: none;
	font-weight: lighter;
	color: #000000;
	font-size: 40px;
}

.aboutparagraph p {
	font-family: "GeoSansLight";
	text-decoration: none;
	font-weight: lighter;
	color: #000000;
	font-size: 20px;
	margin-top: -40px;
	margin-left: 5%;
	margin-right: 10%;
}

.contactphone p {
	font-family: "GeoSansLight";
	text-decoration: none;
	font-weight: lighter;
	color: #000000;
	font-size: 20px;
	margin-top: 0px;
	margin-left: 5%;
	margin-right: 10%;
}

.contactaddress p {
	font-family: "GeoSansLight";
	text-decoration: none;
	/*font-weight: lighter;*/
	color: #000000;
	font-size: 20px;
	margin-top: 0px;
	margin-left: 5%;
	margin-right: 10%;
	/*max-width: 300px;*/
}



#navToggle{
	font-family: "GeoSansLight";
	text-decoration: none;
	font-weight: lighter;
	color: #000000;
	font-size: 20px;
	display: none;
	background-color: #EEE3D4;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 1px;
}

.active{
	background-color: #EEE3D4;
}






